:root{
    --global-width: clamp(900px, 80vw, 100vw);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: auto;
    font-family: 'Inter', sans-serif;
}
.page-container{
    position: relative;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/originals/ba/ee/ac/baeeacb7ad04d4c791a35fae003a6780.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: var(--global-width);
}
.case{
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 50px;

    text-align: center;
}
.case img{
    width: 95%;
}
.case video{
    width: 95%;
}
.case p{
    padding: 0px 50px;
}
iframe{
    width: 95%;
    aspect-ratio: 16/9;
}
.grid{
    display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 255);
	color: white;
	line-height: 50px;
	border-radius: 50%;
	font-size: 25px;
	margin: 0 10px;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: black;
	background-color: white;
}
.sprite{
    width: 10%;
}
.sprite:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}