html{
    font-family: 'Inter', sans-serif;
    --global--padding_width : calc(10 * 1vw);
}
body{
    margin: 0px;
    position: relative;
}
header{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;

    padding-left: var(--global--padding_width);
    padding-right: var(--global--padding_width);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 1;
}
.page_container{
    margin-left: 0;
    margin-right: 0;

    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: var(--global--padding_width);
    padding-right: var(--global--padding_width);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.page_container h2{
    text-align: center;
}
.case_project{
    margin: 5px 0;
    display: flex;
    width: 100%;
    box-shadow: 0px 0px 1px black;
    padding: 20px;
}
.illustration_project{
    display: flex;
    align-items: center;
    width: 40%;
    padding-right: 20px;
}
.illustration_project img{
    width: 100%;
    object-fit: contain;
}
.illustration_project video{
    width: 100%;
}
.illustration_project iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
.project_details{
    width: 100%;    
}
.project_details h3{
    width: 100%;
    text-align: center;
}
.project_link{
    margin-top: 20px;
    text-align: center;
}
.project_link a{
    margin: 0px 5px;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    text-decoration: none;
}
p{
    color: gray;
    padding: 0 10px;
}
h2 {
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    line-height: 0.1em;
 }
 h2 span {  
    color: white;
    background-color: rgb(30, 30, 30);
    padding:0 20px;
 }
 .about_me_detail{
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
 }
 .about_me_detail img{
    width: 100%;
    height: 100%;
    margin-right: 20px;
 }
 .about_me_detail p{
    padding: 0;
    margin-right: 20px;
    margin-top: 0;
 }
 .about_me_detail h3{
    width: 250px;
    color: white;
    margin-top: 0;
    margin-bottom: 5px;
 }
 .softwares_and_game_engines{
    text-align: center;
 }
.softwares_and_game_engines img{
    max-height: calc(70px - 1vw);
    margin: 10px;
}
.form_input{
    width: 100%;
}
.form_input input{
    width: 100%;
}
.form_input textarea{
    width: 100%;
}
.form_input button{
    width: 50%;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(30, 30, 30);
    width: 100%;

    height: 200px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social-links a{
	display: inline-block;
	height: 100px;
	width: 100px;
	text-align: center;
	background-color: rgb(30, 30, 30);
	color: white;
	line-height: 100px;
	border-radius: 50%;
	font-size: 50px;
	margin: 0 30px;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: rgb(30, 30, 30);
	background-color: white;
}