body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

    background-color: var(--main-color);

    font-family: 'Montserrat',sans-serif;

    overflow-x: hidden;

    --main-rgb: 15, 130, 197;
}

body:last-child{
    padding-bottom: 110px;
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    color: var(--categorie-color);
}

h2{
    color: var(--categorie-color);
}

hr{
    border-color: var(--acc-color);
    margin: 0 20%;
}

p{
    font-size: 16px;
}

.hidden{
    display: none !important;
}

.back-white{
    background-color: white;
}

.back-black{
    background-color: black;
}

.back-transparent{
    background-color: transparent;
}

.back-main-rgb{
    background-color: rgb(var(--main-rgb));
}

.vertical-separator{
    height: 100%;
    width: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    padding: 4px 0;
    margin: 0 10px;
    border-style: dotted;
}

.background{
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;

    filter: saturate(100%);
}

.background video{
    min-width: 100vw;
    min-height: 100vh;
}

.background img{
    min-width: 100vw;
    min-height: 100vh;
}

.blur{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.bold{
    font-weight: 600;
}

.home-page{
    position: fixed;
    top: 0;
    left: 0;

    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    z-index: -1;
}

.big-title{
    font-family: 'Changa One', cursive;
    text-transform: uppercase;
    font-size: 120px;
}

.sub-big-title{
    font-size: 75px;
}

.my-container{
    display: flex;
    flex-direction: column;

    margin-top: 100vh;
}

.grid{
    display: flex;
    flex-direction: row;
}

.category{
    color: black;
    text-align: center;
    font-size: 50px;
}

.effect{
    opacity: 0.0;
    transform: translateX(300%);
    transition: transform 1s ease, opacity 3s ease;
}

.effect:nth-of-type(even){
    transform: translateX(-300%);
}

.effect.show{
    opacity: 1.0;
    transform: translateX(0);
}

.project-overview{
    color: black;
    font-size: xx-large;
}

.project-preview div{
    margin-left: 40px;
}

.project-overview label{
    color: gray;
}

.software{
    width: 20px;
}

.clickable-text{
    text-decoration: none;
    color: black;
}

.big-btn{
    transition: all 0.3s ease-in-out;
    background-color: black;
    color: white;
    border: 3px solid black;
}

.big-btn:hover{
    color: black;
    background-color: transparent;
}

.article-container{
    position: relative;
    width: 100%;

    overflow: hidden;

    padding-bottom: 100px;
}

.article-container > article{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: flex;

    transition: all 0.3s ease-in-out;
}

.article-container > article[data-status="inactive left"]{
    top: 50%;
    transform: translateX(-100%) translateY(-50%);

    opacity: 0;
}

.article-container > article[data-status="inactive right"]{
    top: 50%;
    transform: translateX(100%) translateY(-50%);

    opacity: 0;
}

.button-left{
    height: fit-content;
    left: 0;
    margin-left: 100px;
}

.button-right{
    height: fit-content;
    right: 0;
    margin-right: 100px;
}

.project-image{
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16/9;

    object-fit: cover;
}

.square{
    aspect-ratio: 1/1;
}

.screen-overlay{
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;

    background: linear-gradient(
        rgba(var(--main-rgb), 0.4),
        rgba(var(--main-rgb), 0.4) 3px,
        rgba(var(--main-rgb), 0.2) 3px,
        rgba(var(--main-rgb), 0.2) 9px
    );

    background-size: 100% 9px;

    height: 100%;
    width: 100%;

    animation: pan-overlay 12s infinite linear;
}

@keyframes pan-overlay{
    from{
        background-position: 0% 0%;
    }

    to{
        background-position: 0% -100%;
    }
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: fit-content;

    border: none;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(var(--main-rgb));
    cursor: pointer;

    text-decoration: none;

    transition: all 0.25s ease;

    border: 3px solid rgb(var(--main-rgb));
}

.btn:after{
    width: 10px;
    height: 10px;
    background-color: blue;
}

.btn:hover{
    background-color: rgb(var(--main-rgb));
    color: white;
}

button{
    position: absolute;
    top: 50%;

    background: none;
    border: none;

    color: white;
    font-size: 30px;

    cursor: pointer;
}

.social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	color: var(--acc-color);
	background-color: black;
	line-height: 50px;
	border-radius: 50%;
	font-size: 25px;
	margin: 0 10px;
	transition: all 0.5s ease;
}

.social-links a:hover{
	color: black;
	background-color: var(--acc-color);
}

.hover-scale{
    transition: all 0.3s ease-in-out;
}

.hover-scale:hover{
    scale: 1.1;
}

.hover-main-rgb:hover{
    color: rgb(var(--main-rgb));
}

.bullet-point{
    color: rgb(var(--main-rgb));
}

.bullet-point a{
    color: rgb(var(--main-rgb)) !important;
}

.egg:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap: 50px;
}

.main-grid > div{
    text-align: center;
}

.main-grid > div > img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.main-grid > div > .project-title{
    font-size: x-large;
    margin: 0;
    margin-top: 10px;
}

.main-grid > div > p{
    margin: 0;
}

.message {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.flex-box{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    padding: 20px 200px;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.bio-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 150px;
}

.title{
    font-size: 24px;
    font-weight: 600;
    height: auto;
}

.touch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 909px){
    header{
        text-align: center;
        display: block;
    }
    body:last-child{
        padding-bottom: 50px;
    }
    .vertical-separator{
        display: none;
    }
    .big-title{
        font-size: 48px;
    }
    .sub-big-title{
        font-size: 30px;
    }
    .flex-box{
        padding: 10px;
    }
    .flex-row{
        flex-direction: column;
    }
    .project-overview{
        display: none;
    }
    .project-preview div{
        margin: 0;
        padding: 10px;
    }

    .button-left{
        display: none;
    }
    .button-right{
        display: none;
    }
    .touch-overlay {
        pointer-events: auto;
    }
    .game-link{
        display: none;
    }
}